#cover{
    height: 100vh;
    width: 100%;
    background-image: url(../img/cover.jpg);
    background-size: cover;
    background-position: center;
    text-align: end;
    background-attachment: fixed;
    position: relative;
}

#backtotop {
    position: fixed;
    bottom: 5%;
    right: 5%; 
    display: block;
}




#sl1{
    height: 100vh;
    width: 100%;
    background-image: url(../img/7th.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
    position: relative;
    text-align: start;
}

#sl2{
    height: 100vh;
    width: 100%;
    background-image: url(../img/comp.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}

#panzerii{
    height: 100vh;
    width: 100%;
    background-image: url(../img/pzkpf2cover.JPG);
    background-size: cover;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
}

#panzeriii{
    height: 100vh;
    width: 100%;
    background-image: url(../img/pzkpf3cover.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
}

#sdkfz{
    height: 100vh;
    width: 100%;
    background-image: url(../img/sdkfz251cover.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
}

#stug{
    height: 100vh;
    width: 100%;
    background-image: url(../img/stugcover.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
}

#descriptionText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 45%;
    padding: 3px;
    font-size: 20px;
}

#comp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 45%;
    padding: 3px;
    font-size: 50px;
}

.coverText{
    background-color: rgba(0, 0, 0, 0.5);
}

.coverTextTank{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 45%;
    padding: 3px;
}

.footer{
    padding-bottom: 50px;
}

body{
    /* background-color: rgb(48, 48, 48); */
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}


a:hover {
    text-decoration: none;
  }
  
a:active {
    text-decoration: none;
}

strong {
    font-size: 30px;
}